<%- include("templates/header") %>
<%- inlcude("templates/navbar") %>

    <h1> Welcome Admin <%= name %> </h1>

    <table>
        <tr>
            <th> Username </th>
            <th> Role </th>
            <th> Actions </th>
        </tr>   
        <% users.forEach(function(user) { %>
            <%- include("templates/users", {user: user}) %>
        <% }); %>
    </table>

<%- include("templates/footer") %>