<%- include("templates/header") %>
<%- include("templates/navbar") %>

    <div class="container max-width-lg my-5">
        <h1 class="mb-3"> Welcome <%= name %> </h1>

        <div class="container mb-5">
            <h3> Amongus </h3>
            <img src="<%= img_file %>">
        </div>

        <a href='/logout' class="btn btn-danger p-1 fs-6 fw-medium"> Logout </a>
    </div>
        
<%- include("templates/footer") %>