<%- include("templates/header") %>
<%- include("styles/members_style") %>
<%- include("templates/header_closer") %>

    <h1> Welcome <%= name %>
    </h1>
    <img src="<%= img_file %>">
    <br>
    <a href='/logout' style='font-size:1.5em;'> Logout </a>

<%- include("templates/footer") %>